/**
 * This is the central home page
 *
 */
section#home {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    padding: 135px 0;
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    div.content {
        max-width: $siteWidth;
        margin: 0 auto;
        color: #FFF;
    }

    div.search-results {
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border-top: 1px solid #c7c7c7;
    }

    div.product__name {
        text-align: center;
        font-size: x-large;
        margin-top: 40px;
    }

    div.product__tags {
        text-align: center;
        margin: 20px 0;
    }

    img.product__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        background-color: #fff;
        padding: 30px 20px;
    }

    div.product {
        width: 25%;
        height: 430px;
        display: inline-table;
        padding: 20px;
    }

    #no-results {
        font-size: 30px;
        padding: 30px 20px;
        background-color: #fff;
    }
}